#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}
  {{ if (eq (get .chezmoi.osRelease "idLike") "arch") -}}
    sudo pacman -Sy --noconfirm \
      neovim \
      tmux \
      fd \
      ripgrep \
      fzf
  {{ end -}}

{{ end -}}
