#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}
  {{ if eq .chezmoi.osRelease.id "debian" -}}
    # Add the github-cli key
    curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg
    sudo chmod go+r /usr/share/keyrings/githubcli-archive-keyring.gpg
    echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null


    sudo apt update
    sudo apt install -y \
      tmux \
      fd-find \
      ripgrep \
      fzf \
      gh

    # NeoVim Setup
    if ! command -v nvim  &> /dev/null; then
      echo "Installing NVIM"
      wget https://github.com/neovim/neovim/releases/download/v0.7.2/nvim-linux64.deb
      sudo dpkg -i nvim-linux64.deb
      rm nvim-linux64.deb
    fi
  {{ end -}}
{{ end -}}
