tap "homebrew/cask-fonts"
tap "railwaycat/emacsmacport"

# neovim
brew 'luajit', args: ['HEAD']
brew 'neovim', args: ['HEAD']

cask 'alacritty'
brew 'asdf'
cask 'atom'
brew 'bat'
brew 'broot'
brew 'bottom'
brew 'coreutils'
brew 'curl'
cask 'cron'
brew 'difftastic'
brew 'delta'
brew 'duf'
brew 'dust'
brew 'emacs-mac', args: ['with-modules']
brew 'exa'
brew 'fd'
brew "fish"
cask "font-hack-nerd-font"
brew 'gh'
brew 'git'
brew 'glances'
brew "gnupg"
brew 'gtop'
brew "gpg2"
brew 'gping'
brew 'grex'
brew 'htop'
brew 'httpie'
cask 'itsycal'
brew 'jq'
brew 'libpq'
cask 'mimestream'
cask 'muzzle'
brew 'navi'
brew "pinentry-mac"
brew 'procs'
cask 'proxyman'
cask "raycast"
cask 'rectangle'
brew 'ripgrep'
cask "slack"
brew 'the_silver_searcher'
brew 'tldr'
brew 'tmux'
brew 'wget'
